*{
    margin: auto;
    width: 80%;
    text-decoration: none;
    color: black;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}